<html>
    <form method='post' action='/sign-up'>
    Email : <input type='email' name='user_name' placeholder= 'email address'>
    Password : <input type='password' name='password' placeholder= 'password'>
    <input type='submit' id='sign-up' value='Sign-up'>
    </form>
</html>
