<html>
  <% if current_user %>
  <h3> Welcome <%= current_user.user_name %>! </h3>
  <% end %>
  <% @links.each do |link| %>
  <table style='width:100%' >
    <tr>
      <th> Title </th>
      <th> URL </th>
      <th> Tags </th>
    </tr>
      <td> <%= link.name %> </td>
      <td> <%= link.url %> </td>
      <td> <%= (link.tags.map { |t| t.name }).join(', ') %> </td>
  </table>
  <% end %>
</html>
